<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue</title>
    <style>
      body {
        margin: 5%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      .active {
        background: aqua;
        border: 1px solid rgb(1, 122, 122);
        border-radius: 10px;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header>
        <img src="image/vuejs-logo.svg" width="80px" />
        <h1 v-text="name"></h1>
        <p><input type="text" v-model="name" /></p>
        <h1 v-text="bilangan"></h1>
        <p>{{ kelas }}</p>
        <div>
          <label
            ><input type="checkbox" value="React" v-model="kelas" />React</label
          >
          <label
            ><input type="checkbox" value="Vue" v-model="kelas" />Vue</label
          >
          <label
            ><input
              type="checkbox"
              value="Angular"
              v-model="kelas"
            />Angular</label
          >
        </div>
        <p>
          <button @click="hClick">Ditekan</button>
        </p>
        <img v-bind:src="gambar" width="300" />
        <p>Progresive JavaScript framework</p>

        <button v-bind:class="homeComp" @click="menu = 'home'">HOME</button>
        <button v-bind:class="aboutComp" @click="menu = 'about'">ABOUT</button>
        <button v-bind:class="blogComp" @click="menu = 'blog'">BLOG</button>
      </header>

      <footer id="footer">
        <p>coppyright 2021</p>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
      let vm = new Vue({
        el: '#app',
        data: {
          name: 'Doremi fajkatt',
          pesan: 'helo',
          qty: 1,
          namaDepan: 'Agung',
          namaBelakang: ' wicaksono',
          bilangan: 4,
          link: '<input type="text" placeholder="Isi pajkattmu" />',
          gambar: 'image/florian.jpg',
          menu: 'home',
          kelas: [],
        },
        methods: {
          getname: function () {
            return 'Hello you, ' + this.name
          },
          ubahNama: function (namabaru) {
            this.name = namabaru
            return this.getname()
          },
          hClick: function () {
            this.bilangan++
            this.gambar = 'image/samsung.jpg'
          },
        },
        computed: {
          totalBayar: function () {
            return this.qty * 10000
          },
          namaLengkap: function () {
            return this.namaDepan + this.namaBelakang
          },
          rumus: function () {
            return this.bilangan % 2 === 0 ? 'Genap' : 'Ganjil'
          },
          homeComp: function () {
            return { active: this.menu === 'home' }
          },
          aboutComp: function () {
            return { active: this.menu === 'about' }
          },
          blogComp: function () {
            return { active: this.menu === 'blog' }
          },
        },
      })
    </script>
  </body>
</html>
