<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue</title>
    <style>
      body {
        margin: 5%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      .active {
        background: aqua;
        border: 1px solid rgb(1, 122, 122);
        border-radius: 10px;
        padding: 5px;
      }
      .error {
        color: rgb(212, 50, 50);
      }
      .input-group {
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <!-- komponen utama -->
    <div id="app">
      <header-component></header-component>
      <nav>
        <router-link to="/">Home</router-link>
        <router-link to="/about">About</router-link>
        <router-link to="/kelas">Kelas</router-link>
      </nav>
      <main>
        <!-- home,about,kelas(main) dignati router-view //kelas dkk disini merender scr manual  -->
        <router-view
          :items="kelas"
          v-on:submitkelas="submitkelas"
          v-on:hapuskelas="hapuskls ($event)"
        ></router-view>
      </main>
      <footer-component>
        <p>Coppyright 2021</p>
      </footer-component>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script>
      // konfigurasi komponen router
      const Home = {
        template: `<div>
            <h2>Home</h2>
            <p>Yolo this is Home</p>
            </div>`,
      }
      const About = {
        template: `<div>
            <h2>About</h2>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa
            explicabo quis. Amet dolores nam rem dolore ea laudantium dicta,
            cupiditate consequuntur facere.
            </p>
            </div>`,
      }
      // local registration komponen
      const Kelas = {
        props: ['items', 'klsbaru'],
        template: `<div>
        <h3>TAMBAH KELAS</h3>
        <form v-on:submit.prevent="submitkelas">
            <div class="input-group"><input type="text" v-model="kelas.judul" placeholder="Nama kelas">
              <div class="error" v-if="error.judul"><small>{{error.judul}}</small></div>
            </div>
            <div class="input-group">
                <label>Deskripsi: </label><br>
                <textarea v-model="kelas.deskripsi"></textarea>
                <div class="error" v-if="error.deskripsi"><small>{{error.deskripsi}}</small></div>
            </div>
            <div class="input-group">
                <img :src="previewimg" v-if="previewimg" width="200">
                <label>Masukan gambar: </label><br>
                <input type="file" ref="gambar" v-on:change="upload">
            </div>
            <button type="submit">Submit</button>
        </form>
        <hr />
        <h3>Daftar kelas {{ items.length }}</h3>
        <template v-if="items.length >= 1">
          <ul>
            <li v-for="(item,index) in items">
                <img :src="'image/' + item.gambar" width="200">
                <p>
                {{ index+1 }} - {{ item.judul }}
                <a href="" v-on:click.prevent="$emit('hapuskelas', item.id)">Hapus</a>
                </p>
              </li>
          </ul>
        </template>
        <ul v-else>
          Tidak ada kelas
        </ul></div>`,
        data: function () {
          return {
            kelas: {
              judul: '',
              deskripsi: '',
              gambar: '',
            },
            previewimg: '',
            error: {
              judul: '',
              deskripsi: '',
            },
          }
        },
        methods: {
          submitkelas: function () {
            this.error.judul = ''
            this.error.deskripsi = ''

            if (this.kelas.judul == '') {
              this.error.judul = 'Judul is Required'
            }
            if (this.kelas.deskripsi == '') {
              this.error.deskripsi = 'Deskripsi is Required'
            }
            if (this.kelas.judul && this.kelas.deskripsi) {
              const data = {
                id: uuidv4(),
                judul: this.kelas.judul,
                deskripsi: this.kelas.deskripsi,
                gambar: this.kelas.gambar,
              }
              this.$emit('submitkelas', data)
              this.kelas.judul = ''
              this.kelas.deskripsi = ''
              this.kelas.gambar = ''
              this.previewimg = ''
              this.$refs.gambar.value = ''
            }
          },
          upload: function (event) {
            const namaGambar = event.target.files[0].name
            this.kelas.gambar = namaGambar
            this.previewimg = URL.createObjectURL(event.target.files[0])
          },
        },
      }
      const NotFound = {
        template: `<div>
            <h2>404 Not Found</h2>
            <p>
            Halaman tidak tersedia
            </p>
            </div>`,
      }
      // konfigurasi komponen header dan footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      Vue.component('header-component', {
        props: ['nama', 'gambar'],
        template: ` <header>
              <img src="image/vuejs-logo.svg" width="80px" />
              <img :src='gambar' width='100px'>
              <p>{{ 'Framework ' +nama }}</p>
            </header>`,
        data: function () {
          return {
            pesan: 'Hello from data',
          }
        },
      }),
        Vue.component('footer-component', {
          template: `
          <footer id="footer">
            <slot></slot>
          </footer>`, //untuk merender p didalam component footer,
        })

      // mengaktifkan vue router~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      const routes = [
        { path: '/', component: Home },
        { path: '/about', component: About },
        { path: '/kelas', component: Kelas },
        { path: '*', component: NotFound },
      ]

      const router = new VueRouter({
        mode: 'history',
        routes, // short for `routes: routes`
      })

      let vm = new Vue({
        el: '#app',
        router, //menambah konfigurasi ke vue
        data: {
          kelas: [
            {
              id: 1,
              judul: 'PHP',
              deskripsi: 'familiar backend language',
              gambar: 'php.jpg',
            },
            {
              id: 2,
              judul: 'Golang',
              deskripsi: 'language from google',
              gambar: 'go.jpg',
            },
            {
              id: 3,
              judul: 'Java',
              deskripsi: 'language from google',
              gambar: 'java.png',
            },
          ],
          kelasbaru: '',
        },
        methods: {
          hapuskls: function (id) {
            this.kelas = this.kelas.filter((item) => item.id != id)
          },
          submitkelas: function (data) {
            this.kelas.push(data)
            localStorage.setItem('kelas', JSON.stringify(this.kelas))
          },
        },
      })
    </script>
  </body>
</html>
