<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue</title>
    <style>
      body {
        margin: 5%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      .active {
        background: aqua;
        border: 1px solid rgb(1, 122, 122);
        border-radius: 10px;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header>
        <img src="image/vuejs-logo.svg" width="80px" />
        <h1 v-text="name"></h1>
        <p>Progresive JavaScript framework</p>
      </header>

      <main>
        <h3>TAMBAH KELAS</h3>
        <input
          placeholder="Tambah kelas"
          @keyup.enter="submit"
          v-model="kelasbaru"
        />
        <hr />
        <h3>Daftar kelas {{ kelas.length }}</h3>
        <template v-if="kelas.length >= 1">
          <ul>
            <li v-for="(kls,index) in kelas">{{ index+1 }} - {{ kls }}</li>
          </ul>
        </template>
        <ul v-else>
          Tidak ada kelas
        </ul>
      </main>
      <footer id="footer">
        <p>coppyright 2021</p>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
      let vm = new Vue({
        el: '#app',
        data: {
          kelas: ['PHP', 'Golang', 'Ruby'],
          kelasbaru: '',
        },
        methods: {
          submit: function () {
            this.kelas.unshift(this.kelasbaru)
            this.kelasbaru = ''
          },
        },
        computed: {},
      })
    </script>
  </body>
</html>
